body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-around;
  max-width: 90%;
  flex-wrap: wrap;
}
a {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 120px;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
a:hover {
  transform: scale3d(0.95, 0.95, 0.95);
  box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
    0 0 20px 0 rgba(0, 0, 0, 0.03);
  font-weight: normal;
}
.container img {
  max-height: 50px;
}
.container a {
  filter: grayscale(100%);
}
.container a:hover {
  filter: grayscale(0%);
}
.abstract-button {
  background-color: #ccc;
  color: #333;
}
.abstract-button:hover {
  background-color: #555;
  color: #fff;
}
.backstages-button {
  background-color: #ff6519;
  color: #333;
}
.backstages-button:hover {
  background-color: #ffaa19;
  color: #fff;
}
.lobe-button {
  background-color: #04ddb2;
  color: #333;
}
.lobe-button:hover {
  background-color: #00aaf2;
  color: #fff;
}
