body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-around;
}
a {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  width: auto;
  padding: 150px;
  text-decoration: none;
}
.abstract-button {
  background-color: #00c1b5;
  color: #fff;
  transition: ease-in-out 0.5s;
}
.abstract-button:hover {
  background-color: #11d1b5;
  color: #000;
}
.backstages-button {
  background-color: #ff6519;
  color: #fff;
  transition: ease-in-out 0.5s;
}
.backstages-button:hover {
  background-color: #ffaa19;
  color: #000;
}
