body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-around;
}
a {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  width: auto;
  padding: 120px;
  text-decoration: none;
  margin: 15px;
  transition: ease-in-out 0.2s;
}
.abstract-button {
  background-color: #00c1b5;
  color: #333;
}
.abstract-button:hover {
  background-color: #11d1b5;
  color: #fff;
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
    0 0 20px 0 rgba(0, 0, 0, 0.03);
}
.backstages-button {
  background-color: #ff6519;
  color: #333;
}
.backstages-button:hover {
  background-color: #ffaa19;
  color: #fff;
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
    0 0 20px 0 rgba(0, 0, 0, 0.03);
}
.lobe-button {
  background-color: #04ddb2;
  color: #333;
}
.lobe-button:hover {
  background-color: #00aaf2;
  color: #fff;
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
    0 0 20px 0 rgba(0, 0, 0, 0.03);
}
