body {
  margin: 0;
  font-family: "Lab Grotesque", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}
.root {
  text-align: center;
}
a {
  text-decoration: none;
  color: #333;
}
.header {
  position: fixed;
  width: 93%;
  display: flex;
  justify-content: space-between;
  padding: 25px 0 0;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0) 0px 30px 60px -10px;
  backdrop-filter: blur(20px);
  z-index: 2;
}
.logo > a {
  position: absolute;
}
.logo > a > img {
  width: auto;
  height: 21px;
  display: block;
}
nav > a {
  color: #333;
  margin: 0 24px;
  transition: 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}
nav > a:hover {
  color: #000;
  transform: scale3d(1.2, 1.2, 1.2);
}
.download-link > a {
  background-color: #04ddb2;
  padding: 14px 23px 14px 23px;
  color: #fff;
  width: 129px;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 700;
}
.download-link {
  transition: 0.2s ease-in-out;
}
.download-link:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}
.download-link-large > a {
  margin-top: 48px;
  width: 200px;
  height: 64px;
  border-radius: 32px;
  background-color: #04ddb2;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
  transition: 0.2s ease-in-out;
  box-shadow: 0 10px 20px -8px transparent;
}
.download-link-large > a:hover {
  color: #fff;
  transform: scale3d(1.05, 1.05, 1.05);
  text-decoration: none;
  box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.15);
}
.active {
  font-weight: 600;
  color: #333;
}
.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
}
.center-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}
section > .center-content > p {
  font-size: 32px;
  line-height: 1.45;
  margin-bottom: 40px;
  max-width: 850px;
}
.last-content {
  margin-bottom: 140px;
}
.video-container {
  max-width: 1144px;
}
.video-container > img {
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%;
  border-radius: 24px;
  transition: 0.4s ease;
  margin-top: 32px;
}
.video-container > img:hover {
  transform: scale3d(1.03, 1.03, 1.03);
  box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
    0 0 20px 0 rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
.page-name {
  font-size: 80px;
  line-height: 1.05;
  margin: 30px;
  margin-bottom: 12px;
  font-weight: 900;
  color: #333;
  cursor: default;
}
.article-title {
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: auto auto 40px;
}
.green-name {
  color: #04ddb2;
}
.context-desc {
  cursor: default;
  font-size: 32px;
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 700px;
  text-align: center;
}
.content-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1312px;
  margin: auto;
}
.blog-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1312px;
  margin: auto;
}
.blog-card {
  position: relative;
  width: 600px;
  border-radius: 32px;
  background-color: #fff;
  overflow: hidden;
  margin: 28px 28px 96px;
  display: block;
  color: #333;
  transition: 0.4s ease;
  box-shadow: 0 100px 140px -50px rgba(0, 0, 0, 0.25),
    0 0 20px 0 rgba(0, 0, 0, 0.03);
}
.blog-card:hover {
  transform: scale3d(1.01, 1.01, 1.01);
}
.blog-content-image {
  position: relative;
  width: 100%;
  padding-top: 56.66%;
  overflow: hidden;
}
.blog-content-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef0f2;
  overflow: hidden;
}
.blog-content-image-container > img {
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog-content-card {
  padding: 32px 40px 52px;
  text-align: left;
}
.card-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.63;
  margin-bottom: 8px;
}
.card-text {
  font-size: 24px;
  line-height: 1.67;
  margin-bottom: 56px;
}
.card-footer {
  font-size: 20px;
  font-weight: 500;
  color: #989898;
}
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 0.4s ease;
}
.video-close {
  background: none;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
}
.modal-backdrop-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-iframe-container {
  width: 80%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.modal-iframe-radius {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  background: #000;
  box-shadow: 0 100px 160px -60px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.iframe-container > iframe {
  width: 100%;
}
::selection {
  background: rgba(0, 230, 184, 0.2);
}
.modal {
  transition: 0.4s ease;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px 64px;
  background: #fff;
  cursor: default;
}
.footer-container {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  flex: 1 1;
  max-width: 1314px;
  display: flex;
  padding: 112px 108px;
  justify-content: space-between;
  text-align: left;
}
.footer-copyright {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1;
}
.footer-logo {
  margin-bottom: 29.2px;
}
.footer-logo > img {
  width: auto;
  height: 18px;
}
.footer-column {
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.footer-column-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 31.2px;
  line-height: 1;
}
.footer-column-link {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 1;
}
.footer-column-link > a {
  margin-left: -16px;
  white-space: nowrap;
  padding: 0 16px;
  border-radius: 50px;
  transition: 0.2s ease;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.footer-column-link > a:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}
.footer-socials > a {
  margin-right: 15px;
}
.footer-socials > a > img {
  transition: 0.2s ease;
  width: 40px;
}
.footer-socials > a > img:hover {
  transform: scale3d(1.15, 1.15, 1.15);
}
