html {
  scroll-snap-type: mandatory;
  scroll-snap-type: y;
  scroll-snap-points-y: repeat(100vh);
}
::-webkit-scrollbar {
  display: none;
}
a:active {
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
body {
  background-color: white;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-snap-type: x mandatory;
}
a {
  text-decoration: none;
  color: #251d20;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
a:hover {
  text-decoration: underline;
}
.header {
  padding-top: 20px;
  position: fixed;
  left: 15px;
  top: 0;
  z-index: 2;
}
.header > img {
  width: 260px;
  vertical-align: middle;
}
.contact {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 2;
}
.info {
  position: fixed;
  bottom: 0;
  left: 22px;
  width: 320px;
  margin-top: 0;
  z-index: 2;
}
.issues {
  position: fixed;
  bottom: 0px;
  right: 15px;
  width: 200px;
  text-align: right;
  z-index: 3;
}
.selectors {
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
}
.select-link {
  font-weight: normal;
}
p {
  color: #251d20;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
.copyright,
.copyright > a {
  font-size: 12px;
  font-weight: normal;
}
.description > a,
.copyright > a {
  text-decoration: underline;
}
.description > a:hover,
.copyright > a:hover {
  text-decoration: none;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
.page {
  padding-top: 23vh;
  text-align: center;
}
.page > img {
  width: 420px;
  vertical-align: middle;
}
.page > p {
  margin-top: 0;
}
.order {
  font-size: 15px;
  padding-top: 3px;
  line-height: 22px;
}
.order > a {
  color: #fff;
  font-size: 15px;
}
.selectors > li:nth-of-type(1) a:active::before {
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  background-color: #ff608c;
}
.selectors > li:nth-of-type(2) a:active::before {
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  background-color: #fff;
}
#issue7 {
  background-color: #ff608c;
}
#issue6 {
}
#issue5 {
  background-color: #00c1b5;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
#issue4 {
  background-color: #ff6519;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
#issue3 {
  background-color: #ffbe00;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
#issue2 {
  background-color: #1d3fbb;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
#issue1 {
  background-color: #e30512;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.issue6-order > a {
  color: #e568ac;
}
