html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  transition: all 500;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  background-color: #ff608c;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-snap-type: x mandatory;
}
a {
  text-decoration: none;
  color: #251d20;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
a:hover {
  text-decoration: underline;
}
.header {
  padding-top: 20px;
  position: fixed;
  left: 15px;
  top: 0;
  z-index: 2;
}
.header > img {
  width: 260px;
  vertical-align: middle;
}
.contact {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 2;
}
.info {
  position: fixed;
  bottom: 0;
  left: 22px;
  width: 320px;
  margin-top: 0;
  z-index: 2;
}
.issues {
  position: fixed;
  bottom: 0px;
  right: 15px;
  width: 200px;
  text-align: right;
  z-index: 3;
}
.selectors {
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
}
.select-link {
  font-weight: normal;
}
p {
  color: #251d20;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
.copyright,
.copyright > a {
  font-size: 12px;
  font-weight: normal;
}
.description > a,
.copyright > a {
  text-decoration: underline;
}
.description > a:hover,
.copyright > a:hover {
  text-decoration: none;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
.page {
  padding-top: 23vh;
  text-align: center;
}
.page > img {
  width: 420px;
  vertical-align: middle;
}
.page > p {
  margin-top: 0;
}
.order {
  font-size: 15px;
  padding-top: 3px;
  line-height: 22px;
}
.order > a {
  color: #fff;
  font-size: 15px;
}
#issue7,
.issue7:active {
  scroll-behavior: smooth;
  transition: all ease-in 1s;
}
#issue6 {
  scroll-behavior: smooth;
  background-color: #fff;
  transition: all ease-in 1s;
}
