body {
  overflow: hidden;
  margin: 0;
  background-color: #e30512;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.header {
  padding-top: 20px;
  position: absolute;
  left: 15px;
  top: 0;
  z-index: 2;
}
.header > img {
  width: 260px;
  vertical-align: middle;
}
.contact {
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 2;
}
.contact-link {
  text-decoration: none;
  color: #251d20;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.contact-link:hover {
  text-decoration: underline;
}
.info {
  position: absolute;
  bottom: 0;
  left: 22px;
  width: 320px;
  margin-top: 0;
}
