#app {
  font-family: "Libre Franklin", sans-serif;
}
.navbar {
  background-color: #222;
  padding: 15px 50px 15px 50px;
}
.navleft {
  color: #fff;
}
.navleft {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.req-button {
  border-color: #fff;
}
.sign-button {
  background-color: #4c5fd5;
}
.header {
  background-color: #dadbf1;
  min-height: 300px;
  padding-top: 60px;
}
.search-bar-title > h1 {
  font-size: 60px;
  padding-bottom: 15px;
}
.push-mid {
  display: flex;
  justify-content: center;
}
.header-search > .input-group > input {
  border-radius: 0;
}
.header-search > .input-group > span {
  border-radius: 0;
  border: 0;
}
.content {
  padding-bottom: 100px;
}
.content-list-each {
  padding-top: 70px;
}
.img-1 > img {
  max-width: 120px;
  padding: 15px;
  padding-top: 0;
}
.content-text {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icerik-1 > a {
  text-decoration: none;
  font-size: 12px;
}
.footer {
  background-color: #000;
  min-height: 300px;
  border-radius: 0 0 15px 15px;
}
.footer > .container > .row > .col > h5 {
  margin-bottom: 15px;
}
.footer > .container > .row > .col > h6 {
  margin: 0;
  margin-top: 15px;
  font-size: 12px;
  padding: 0;
}
.footer > .container > .row > .col > a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  display: block;
}
.copyright-logo {
  width: 35px;
  padding-bottom: 10px;
}
.copyright-text {
  font-size: 13px;
}
.footer-logo-content {
  justify-content: flex-end;
}
.footer-main-content {
  padding-bottom: 40px;
  color: #fff;
  padding-top: 35px;
  padding-right: 13%;
}
